[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NGSToolKit"]
	path = NGSToolKit
	url = https://github.com/bigfacilityiisr/ngs-tool-kit
